:root {
  --bs-border-color-translucent: rgba(0, 0, 0, 0.1);
}

.card {
  --bs-card-cap-bg: #fff;
  --bs-card-cap-padding-y: 1rem;
  --bs-card-cap-padding-x: 1.5rem;
  --bs-card-spacer-y: 1.5rem;
  --bs-card-spacer-x: 1.5rem;
  border: 0;
  box-shadow: var(--bs-card-box-shadow);
}

.card-table {
  margin-bottom: 0;
}

.card-table td,
.card-table th {
  padding: 0.75rem 1.5rem;
}

.table-payments .description b {
  font-weight: 600;
  color: var(--bs-primary);
}

td.fit {
  width: 1%;
  white-space: nowrap;
}
